@charset "utf-8";
/* CSS Document */

	/* Resets */
ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
}
h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}
p {
    padding:0;
    margin:0 0 20px 0;
}
a:link, a:visited {
    text-decoration:underline;
    color:#000;
}
a:hover {
    text-decoration:none;
}
ul li {
    padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px;
}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
}
.logo {
    font:2em Arial;
    margin:0 0 10px 0;
    padding:0;
    width:200px;
    color:#fff;
}
/* Containers */
body {
    background-image: url('../img/background.png');
    font-family:Arial;
    font-size:0.8em;
}
#container, footer {
    background:#fff;
    width:920px;
    margin:0 auto;
    padding:20px;
}
header {
    width:940px;
    padding:10px;
    margin:0 auto 10px auto;
}
header h1 {
    float: left;
    font-size: 40px;
    margin-top: 50px;
}
header img {
    float: right;
}
#container {
    min-height:500px;
    border-radius:5px 5px 0 0;
}
footer {
    border-radius:0 0 5px 5px;
}
.widget {
    margin-bottom:20px;
}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
}
.widget .inner {
    margin:0 10px;
}
/* Navigation */
nav {
    float:left;
}
nav ul {
    margin:0;
}
nav ul li {
    display:inline;
    margin-right:10px;
}
nav ul li a {
    text-decoration:none;
}
nav ul li.current {
    font-weight:bold;
}
nav ul li a.last {
    border-right:0;
}
/* Aside */
aside {
    width:260px;
    float:left;
    border-right:1px dashed #aaa;
    padding-right:15px;
    margin-right: 15px;
    min-height: 500px;
}
/* Login */
#login li.link {
    margin-top:5px;
}
/* Footer */
footer {
    border-top:1px dashed #ddd;
    color:#999;
}
#memberNo{
    float: right;
    padding: 3px;
    background-color: rgba(191, 151, 79, 0.2);
    background: rgba(191, 151, 79, 0.2);
    color: black;
    border:dashed 0px #000000;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}
/* Misc */
.clear {
    clear:both;
}/* CSS Document */

/*Button*/
.btn {
  margin-bottom: 7px;
  cursor: pointer;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 2px 21px 2px 19px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#kategorije{
    height: 30px;
    width: 100%;
    background-color: red;
}

.admin_table{
    border-spacing: 10px;
    border-collapse: separate;
}

.article{
    position: relative;
    height:180px;
    width: 180px;
    background-image: url("../article_img/default.jpg");
    margin:12px;
    float: left;
    border: 1px solid #999;
}
.article #name{
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: #FFF;
    border-radius: 2px;
    float: left;
}
.article #special_offer{
    height: 80px;
    position: absolute;
    top: -6px;
    right: -6px;
}
.article #buy{
    height: 30px;
    position: absolute;
    bottom: 3px;
    right: 5px;
}
.article #article_info{
    height: 30px;
    position: absolute;
    bottom: 2px;
    right: 72px;
}

.article #comment{
    height: 30px;
    position: absolute;
    bottom: 3px;
    right: 40px;
}

.article #price{
    position: absolute;
    bottom: -10px;
    left: 3px;
    background-color: #FFFFCC;
    border-radius: 2px;
    padding: 2px;
    float: right;
}

.article .background {
    width: 180px;
    height: 180px;
    z-index: 0;
}